.chat {
  max-height: vh;
  /* min-height: 100vh; */
  /* display: grid; */
  /* grid-template-rows: 1fr auto; */
  padding: 16px 8px 0 8px;
}

@media screen and (min-width: 768px) {
  .chat {
    width: 600px;
    margin: auto;
    /* border: 1px solid red; */
    padding: 0;
    padding-top: 75px;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bubbleImg {
  height: 28px;
}

.messageContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.message {
  background-color: #f5f5f5;
  padding: 6px 12px;
  border-radius: 4px;
}

.bubble {
  align-self: flex-start;
}

.input {
  align-self: flex-end;
}

.sendBtn,
.sentBtn {
  background-color: var(--BLUE-COLOR);
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 36px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendIcon {
  /* height: 12px; */
  width: 18px;
}

.sentBtn {
  background-color: #ff8e21;
}

.userInputContainer {
  display: flex;
  justify-items: center;
  align-items: center;

  justify-content: end;
  gap: 8px;
  padding: 16px 0 32px 0;
  margin-top: 16px;

  background-color: #fff;

  position: sticky;
  bottom: 0;
}

.userInput {
  border: none;
  padding: 8px 12px;
  width: 200px;

  border-radius: 4px;
  box-shadow: 1px 1px 5px #0000005c;
}

.userInputError {
  border: 1px solid #e74e4e;
}

.error {
  color: #e74e4e;
  font-size: 0.7rem;
  position: absolute;
  bottom: -20px;
}

.nonTextMessage {
  width: 200px;
  border-radius: 4px;
}

.ratingContainer {
  display: flex;
  gap: 16px;
  padding: 8px;
  border-radius: 4px;
}

.rating,
.ratingActive {
  background-color: var(--BLUE-COLOR);
  font-size: 0.8rem;
  height: 22px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  border: none;
}

.ratingActive {
  background-color: #ff8e21;
}

.relative {
  position: relative;
}

.disabled {
  background-color: #777777;
  color: #fff;
}
