.container {
  background-color: #1e1e1e;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.back:link,
.back:visited {
  color: #fff;

  position: absolute;
  top: 50px;
  left: 50px;
}

.backIcon {
  height: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1;
}

.submitBtn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--BLUE-COLOR);
  border: none;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 12px;
  cursor: pointer;
}

.register {
  text-align: center;
}

.submitBtn:hover {
  background-color: #054ef7;
}

.submitBtn:active {
  background-color: #0535f7;
}

.registerLink:link,
.registerLink:visited {
  color: var(--BLUE-COLOR);
  text-decoration: none;
}

.triangles {
  position: absolute;
  left: 0;
}

.ellipse1 {
  position: absolute;
  bottom: 0;
  right: 370px;
}

.ellipse2 {
  position: absolute;
  right: 0;
  top: 100px;
}
