.feature {
  position: relative;
  border: 1px solid white;
  background-color: #1a202c;
  padding: 24px 24px 32px 24px;
  border-radius: 8px;
}

.logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -40%);
}

.heading {
  font-size: 1.3rem;
  font-weight: 600;
}

.description {
  color: #a0aec0;
  font-size: 1.2rem;
  margin-top: 16px;
}
