.container {
  background-color: var(--DARK-COLOR);
}

.settings {
  min-height: 100vh;
  color: #fff;
  padding: 16px;
  max-width: 1500px;
  margin: auto;
  position: relative;
}

.heading {
  font-weight: normal;
  text-align: center;
  font-size: 1.1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  margin: auto;
  margin-top: 50px;
}

.updateBtn {
  background-color: var(--BLUE-COLOR);
  border: none;
  border-radius: 16px;
  padding: 8px;
  color: #fff;
  margin-top: 12px;
}

.disabled {
  cursor: not-allowed;
}

.logoutBtn {
  position: absolute;
  left: 30px;
  bottom: 30px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoutTxt {
  color: #cf3636;
}
