.container {
  max-width: 1500px;
  margin: auto;
}

.home {
  background-color: #171923;
  color: #fff;
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 28px 32px;
}

.logo {
  height: 25px;
  width: auto;
}

.logoHeading {
  font-size: 1.1rem;
}

.nav {
  margin-left: auto;
}

.links {
  display: flex;
  gap: 16px;
}

.signin:link,
.signin:visited {
  text-decoration: none;
  color: #7ea6ff;
  padding: 10px 16px;
  border: 2px solid #7ea6ff;
  border-radius: 4px;
  font-weight: bold;
}

.signin:hover {
  background-color: rgba(126, 167, 255, 0.074);
}

.register:link,
.register:visited {
  text-decoration: none;
  background-color: var(--BLUE-COLOR);
  color: #fff;
  padding: 10px 16px;
  /* border: 2px solid #7ea6ff; */
  border-radius: 4px;
  font-weight: bold;
}

.registerBig:link,
.registerBig:visited {
  padding: 16px 32px;
  font-size: 1.2rem;
}

.register:hover {
  background-color: #7ea6ff;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin: 60px 0;
}

.section1Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.section1Heading {
  font-size: 3.9rem;
  /* color: linear-gradient(to right, #779cf2, #7ea6ff); */

  background: linear-gradient(to right, #4b83ff, #aa8bed);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1Description {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.formbotDemo1Img {
  margin: auto;
  display: block;
}

.section2 {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.section2Heading {
  font-size: 1.4rem;
}

.section3 {
  margin: auto;
  width: 1250px;
  margin-top: 132px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section4 {
  margin-top: 160px;
  padding: 0 212px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.section4Description {
  margin-top: 32px;
}

.section4SubSection {
  display: flex;
  gap: 48px;
  /* width: 1000px; */
}

.platforms {
  max-width: 1500px;
  margin: auto;
}

.section5 {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  gap: 54px;
}

.section5Description {
  max-width: 750px;
  margin-top: 10px;
}

.section6 {
  margin-top: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.section6Description {
  margin-top: 10px;
  width: 1000px;
}

.formbotDemo2 {
  border: 1px solid #333;
  border-radius: 8px;
}

.section7 {
  margin-top: 180px;
  text-align: center;
}

.gradientColor {
  background: linear-gradient(#171923, #191f2b);
}

.section8 {
  display: flex;
  margin-top: 72px;

  text-align: center;
  /* linear-gradient() */
}

.designLeftImg {
  align-self: flex-start;
}

.designRightImg {
  align-self: flex-end;
}

.section8Main {
  margin-top: 220px;
  margin-bottom: 72px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.section8SmallTxt {
  color: #a0aec0;
}

.footer {
  display: flex;
  gap: 128px;
  justify-content: center;
  padding: 16px 0 64px 0;
}

.footerLogo {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.footerLink:link,
.footerLink:visited {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: underline;
}

.footerLinksHeading {
  font-size: 1.1rem;
  font-weight: 600;
}

.footerLinks {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.heading2 {
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
}

.sectionHeading1 {
  font-size: 3rem;
}

.sectionHeading2 {
  font-size: 2.2rem;
}

.sectionDescription {
  color: #a0aec0;
  font-size: 1.3rem;
}
