.workspace {
  background-color: var(--DARK-COLOR);
  min-height: 100vh;
}

.header {
  border-bottom: 1px solid #555;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  border: 1px solid #555;
  border-radius: 4px;
  padding: 4px 6px;
  background-color: var(--DARK-COLOR);
  color: #fff;
  /* border: none; */
}

.main {
  margin-top: 32px;
}

.folder {
  background-color: #333334;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 0.9rem;
  display: flex;
  /* align-items: center; */
  gap: 4px;
}

.newFolderIcon {
  height: 1rem;
}

.folderBtns {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.folderBtns::-webkit-scrollbar {
  display: none;
}

.deleteIcon,
.deleteFormbotIcon {
  height: 1rem;
  cursor: pointer;
  /* stroke: #e74e4e; */
}

.deleteIcon:hover,
.deleteFormbotIcon:hover {
  stroke: #e13232;
}

.deleteFormbotIcon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  height: 20px;
}

.plusIcon {
  height: 32px;
  stroke: #fff;
  font-weight: bold;
}

.formbots {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 32px;
}

.formbotContainer {
  position: relative;
}

.newFormbot {
  background-color: var(--BLUE-COLOR);
  border: none;
  color: #fff;
}

.newFormbot,
.formbot:link,
.formbot:visited {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 175px;
  height: 210px;
}

.newFormbot:hover,
.formbot:hover {
  opacity: 0.9;
}

.formbot:link,
.formbot:visited {
  background-color: var(--GREY-1-COLOR);

  color: #fff;
  text-decoration: none;
}
